.lazy-image-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.lazy-image-container:not(.loaded) {
    animation: animloaderbg 3s linear infinite;
}

@keyframes animloaderbg {
    0% {
        background-color: var(--md-sys-color-outline-variant);
    }

    50% {
        background-color: var(--md-sys-color-outline);
    }

    100% {
        background-color: var(--md-sys-color-outline-variant);
    }
}

.lazy-image-container:not(.loaded)::after,
.lazy-image-container:not(.loaded)::before {
    content: '';
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 10px solid #dee3e6;
    position: absolute;
    left: calc(50% - 1.5em);
    top: calc(50% - 1.5em);
    transform: scale(0);
    animation: animloader 2s linear infinite;
}

.lazy-image-container:not(.loaded)::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 0;
        border-width: 1px;
    }

    10% {
        opacity: 0.5;
        border-width: 2px;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.lazy-image-container img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.lazy-image-container.loaded img {
    opacity: 1;
}